{% extends "base.html" %}
{% load static %}
{% block head_title %}| My Account{% endblock %}

{% block content %}
    <div class="container-fluid px-3 px-sm-5 py-5">
        <div class="row">
            <div class="col-12 px-3">
                <h2 class="mb-4">My Account</h2>
            </div>
        </div>
        <div class="row">
            <!-- Default Delivery Information -->
            <div class="col-12 col-md-6">
                <h5 class="px-3">Default Delivery Information</h5>
                <div class="px-2">
                    <hr class="hr-black mt-0">
                </div>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="black-border p-2 p-sm-4 mb-5 mb-md-4">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex flex-wrap justify-content-evenly align-items-center py-3">
                        <button class="btn btn-green my-2 mx-3" type="submit">Update</button>
                    </div>
                </form>
                <h5 class="px-3">Change Account Password</h5>
                <div class="px-2">
                    <hr class="hr-black mt-0">
                </div>
                <p class="fs-small">Need to change your password?:</p>
                <div class="text-center">
                    <a class="btn btn-green " href="{% url 'account_change_password' %}">Change Password</a>
                </div>
            </div>
            <!-- Order History -->
            <div class="col-12 col-md-6 mt-5 mt-md-0">
                <h5 class="px-3">Order History</h5>
                <div class="px-2">
                    <hr class="hr-black mt-0">
                </div>
                {% for order in orders %}
                    <!-- Order Number -->
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-1 d-inline">View Order:</h5>
                        <a class="text-decoration-underline text-end" href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                            <span>{{ order.order_number|truncatechars:16 }}</span>
                        </a>
                    </div>
                    <!-- Order Date -->
                    <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                        Order Date:
                        <span>{{ order.order_date|date:'H:i d/m/Y' }}</span>
                    </div>
                    <!-- Order Total -->
                    <div class="d-flex align-items-center justify-content-between mt-1 mb-3 fs-small">
                        Grand Total:
                        <span>£{{ order.grand_total }}</span>
                    </div>
                    <!-- Order Details -->
                    <div id="collapse_{{ order.order_number }}" class="collapse">
                        <!-- Order Quantity -->
                        <hr class="hr-black mt-0 mb-3">
                        {% for item in order.lineitems.all %}
                            <div class="mb-3">
                                <!-- Item Details -->
                                <div class="d-flex align-items-center justify-content-between">
                                    {{ item.product.name }}
                                    <span class="text-end fs-small">Price: £{{ item.product.price }}</span>
                                </div>
                                <!-- Size -->
                                {% if item.product_size %}
                                    <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                        Size:
                                        <span>{{ item.get_product_size_display|capfirst }}</span>
                                    </div>    
                                {% endif %}
                                <!-- Side -->
                                {% if item.product_side %}
                                    <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                        Side:
                                        <span>{{ item.get_product_side_display|capfirst }}</span>
                                    </div>
                                {% endif %}
                                <!-- Gender -->
                                {% if item.product_gender %}
                                    <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                            Gender:
                                            <span>{{ item.get_product_gender_display|capfirst }}</span>
                                    </div>
                                {% endif %}
                                <!-- Price & Quantity -->
                                <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                    Quantity:
                                    <span>{{ item.qty }}</span>
                                </div>
                                {% if not forloop.last %}
                                    <hr class="mt-3 mb-0">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <button class="view-order m-0 p-0 border-0 bg-white d-block w-100 purple-hover" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ order.order_number }}" aria-expanded="false" aria-controls="collapse_{{ order.order_number }}">
                        <hr class="hr-black m-0">
                        <i class="fas fa-caret-down"></i>
                        <i class="fas fa-caret-up d-none"></i>
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script type="text/javascript">
        // Correct the placeholder (font) colour in the default country input.
        let countrySelected = $('#id_default_country').val();
        if(!countrySelected) {
            $('#id_default_country').css('color', '#aab7c4');
        };
        $('#id_default_country').change(function() {
            countrySelected = $(this).val();
            if(!countrySelected) {
                $(this).css('color', '#aab7c4');
            } else {
                $(this).css('color', '#04080F');
            };
        });

        // Toggle the up/down arrows visibility in the Order History.
        $('.view-order').click(function() {
            $(this).children('i').toggleClass('d-none');
        })
    </script>
{% endblock %}