{% extends "base.html" %}
{% load static %}
{% load basket_tools %}
{% block head_title %}| Checkout{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Stumps & Studs - buy our range of the latest sports equipment, clothing and footwear.">
{% endblock %}


{% block extra_js %}
    <!-- Moved this to the top of the page to resolve a bug preventing the save_info from working correctly in the deployed site -->
    <script defer src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid px-3 px-sm-5 py-3">
        <div class="row">
            <div class="col-12 px-3">
                <h2 class="mb-4">Checkout</h2>
            </div>
        </div>
        <div class="row">
            <!-- Checkout Details -->
            <div id="checkout" class="col-12 col-md-6">
                <h5 class="px-3">Checkout Details</h5>
                <div class="px-2">
                    <hr class="hr-black mt-0">
                </div>
                <!-- Source: https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior -->
                <ul class="nav nav-tabs nav-justified flex-column flex-sm-row" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link purple-hover active" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button" role="tab" aria-controls="personal" aria-selected="true">Personal Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link purple-hover disabled" id="delivery-tab" data-bs-toggle="tab" data-bs-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="false">Delivery Address</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link purple-hover disabled" id="pay-tab" data-bs-toggle="tab" data-bs-target="#pay" type="button" role="tab" aria-controls="pay" aria-selected="false">Summary & Pay</button>
                    </li>
                </ul>
                <!-- Payment Form -->
                <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="black-border border-top-0 p-2 p-sm-4">
                    <div class="tab-content" id="myTabContent">
                        {% csrf_token %}
                        <!-- Personal Details -->
                        <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                            <fieldset>
                                {{ order_form.full_name | as_crispy_field }}
                                {{ order_form.email | as_crispy_field }}
                                {{ order_form.phone_number | as_crispy_field }}
                            </fieldset>
                            <div class="text-end">
                                <button id="personal-to-delivery" class="btn btn-green" disabled>
                                    Next
                                </button>
                            </div>
                        </div>
                        <!-- Delivery Details -->
                        <div class="tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="delivery-tab" >
                            <fieldset>
                                {{ order_form.street_address1 | as_crispy_field }}
                                {{ order_form.street_address2 | as_crispy_field }}
                                {{ order_form.town_or_city | as_crispy_field }}
                                {{ order_form.county | as_crispy_field }}
                                {{ order_form.postcode | as_crispy_field }}
                                {{ order_form.country | as_crispy_field }}
                            </fieldset>
                            <div class="d-flex align-items-center justify-content-between">
                                <button id="delivery-to-personal" class="btn btn-orange">Previous</button>
                                <button id="delivery-to-pay" class="btn btn-green" disabled>Next</button>
                            </div>
                        </div>
                        <!-- Summary and Payment -->
                        <div class="tab-pane fade" id="pay" role="tabpanel" aria-labelledby="pay-tab">
                            <fieldset>
                                <!-- A Stripe card element goes here -->
                                <div id="card-element" class="mb-3"></div>
                                <!-- Div to display form errors -->
                                <div id="card-errors" class="mb-3" role="alert">
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <button id="pay-to-delivery" class="btn btn-orange">Previous</button>
                                    <button id="submit-button" class="btn btn-green" disabled>
                                        <i class="fas fa-lock pe-1"></i>
                                        Complete Order
                                    </button>
                                </div>
                                <div class="text-end fs-small pt-2">
                                    <i>Your card will be charged £{{ grand_total|floatformat:2 }}</i>
                                </div>
                            </fieldset>
                        </div>
                        <!-- Hidden Inputs -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        <!-- Save info or Register and Login -->
                        <div class="form-check p-0">
                            {% if user.is_authenticated %}
                                <!-- Save info -->
                                <div class="py-3 text-center">
                                    <label class="form-check-label fs-small" for="id-save-info">
                                        Save delivery information to my profile?:
                                    </label>
                                    <input class="form-check-input ms-1" type="checkbox" id="id-save-info" name="save-info" value="true" checked>
                                </div>
                            {% else %}
                                <!-- Regist and Login -->
                                <div class="d-flex justify-content-evenly align-items-center py-3">
                                    <a href="{% url 'account_signup' %}" class="btn btn-green">
                                        <i class="fas fa-sign-in-alt"></i>
                                        Register
                                    </a>
                                    <a href="{% url 'account_login' %}" class="btn btn-orange">
                                        <i class="fas fa-user-plus"></i>
                                        Login
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            <!-- Basket Preview -->
            <div class="col-12 col-md-6 mt-5 mt-md-0">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="px-3">Basket</h5>
                    <a href="{% url 'view_basket' %}" class="purple-hover fs-small mb-2">
                        <i class="fas fa-arrow-left"></i>
                        <strong class="text-decoration-underline">Adjust Basket</strong>
                    </a>
                </div>
                <!-- Products -->
                <div id="basket-preview" class="row px-4">
                    {% for item in basket_items %}
                        <hr class="hr-black">
                        <!-- Product Image -->
                        <div class="col-12 col-sm-3 col-md-12 col-lg-3 py-3 px-0 px-md-3">
                            <div class="card border-0 rounded-0">
                                {% if item.product.image %}
                                    <img class="toast-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                    <img class="toast-image" src="{% static 'media/noimage.png' %}" alt="{{ item.product.name }}">
                                {% endif %}
                            </div>
                        </div>
                        <!-- Product Details -->
                        <div class="col-sm-9 col-md-12 col-lg-9 py-3 px-0 px-md-3">
                            <div class="py-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-1 d-inline">{{ item.product.name }}</h5>
                                    <span class="text-end">Price: £{{ item.product.price }}</span>
                                </div>
                                <hr>
                                {% for detail in item.details %}
                                    <!-- Size -->
                                    {% if detail.size %}
                                        <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                            Size:
                                            <span>{{ detail.size|upper }}</span>
                                        </div>    
                                    {% endif %}
                                    <!-- Side -->
                                    {% if detail.side %}
                                        <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                            Side:
                                            <span>{{ detail.side|capfirst }}</span>
                                        </div>
                                    {% endif %}
                                    <!-- Gender -->
                                    {% if detail.gender %}
                                        <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                                Gender:
                                                <span>{{ detail.gender|capfirst }}</span>
                                        </div>
                                    {% endif %}
                                    <!-- Price & Quantity -->
                                    <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                        Quantity:
                                        <span>{{ detail.qty }}</span>
                                    </div>
                                    <div class="my-1 fs-small">
                                        <strong>Subtotal:
                                            <span class="float-end">£{{ item.product.price | calc_subtotal:detail.qty }}</span>
                                        </strong>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Grand Total -->
                <div class="row px-4">
                    <hr class="d-none d-md-block hr-black mb-0">
                    <div class="col-12 py-3 px-0">
                        <hr class="hr-black hr-thick">
                        <div class="py-2">
                            <h5 class="d-inline">Basket Total</h5>
                            <span class="float-end">£{{ total|floatformat:2 }}</span>
                        </div>
                        <div class="py-2">
                            <h5 class="d-inline">Delivery Total</h5>
                            <span class="float-end">£{{ delivery|floatformat:2 }}</span>
                        </div>
                        <div class="py-2">
                            <h5 class="d-inline fw-bold">Grand Total</h5>
                            <strong><span class="float-end">£{{ grand_total|floatformat:2 }}</span></strong>
                        </div>
                        <hr class="hr-black hr-thick">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Overlay to show when checkout form is submitted -->
    <div id="loading-overlay">
        <img src="{% static 'media/cricket-ball-loading.gif' %}" alt="Spinning cricket ball showing that page is loading.">
    </div>
    <!-- Scroll to top of page arrow -->
    <button id="scroll-to-top" class="border-0 p-3" >
        <i class="fas fa-arrow-circle-up fs-1"></i>
    </button>
{% endblock %}

{% block postload_js %}
    {{ block.super}}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/checkout_form_buttons.js' %}"></script>

{% endblock %}