{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-5 py-3">
        <div class="row">
            <div class="col-12 px-3">
                <h2>Basket</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-3">
                <small>
                    <a href="{% url 'products' %}">
                        <i class="fas fa-arrow-left"></i>
                        <strong>Continue Shopping</strong>
                    </a>
                </small>
            </div>
        </div>
        {% if basket_items %}
            {% for item in basket_items %}
                <!-- Product -->
                <div class="row px-4">
                    <hr class="d-none d-sm-block">
                    <!-- Product Image -->
                    <div class="col-6  py-3 px-0 px-md-3">
                        <a href="{% url 'product_detail' item.product.id %}">
                            <div class="card border-0 rounded-0">
                                {% if item.image %}
                                    <img class="product-image-small" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                    <img class="product-image-small" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <!-- Product Details -->
                    <div class="col-sm-6 py-3 px-0 px-md-3">
                        <div class="py-0">
                            <a href="{% url 'product_detail' item.product.id %}">
                                <h5 class="mb-1 d-inline">{{ item.product.name }}</h5>
                            </a>
                            <span class="float-end">Price: £{{ item.product.price }}</span>
                            <hr>
                            {% for detail in item.details %}
                                <!-- Size -->
                                {% if detail.size %}
                                    <div class="my-1 fs-small">
                                        Size:
                                        <span class="float-end">{{ detail.size|upper }}</span>
                                    </div>    
                                {% endif %}
                                <!-- Side -->
                                {% if detail.side %}
                                    <div class="my-1 fs-small">
                                        Side:
                                        <span class="float-end">{{ detail.side|capfirst }}</span>
                                    </div>
                                {% endif %}
                                <!-- Gender -->
                                {% if detail.gender %}
                                    <div class="my-1 fs-small">
                                            Gender:
                                            <span class="float-end">{{ detail.gender|capfirst }}</span>
                                    </div>
                                {% endif %}
                                <!-- Price & Quantity -->
                                <div class="my-1 fs-small">
                                    Quantity:
                                    <span class="float-end">{{ detail.qty }}</span>
                                </div>
                                <div class="my-1 fs-small">
                                    <strong>Subtotal:
                                        <span class="float-end">£{{ item.product.price }}</span>
                                    </strong>
                                </div>
                                <hr>
                            {% endfor %}
                            <!-- Grand Total -->
                        </div>
                    </div>
                </div>
            {% endfor %}
                <div class="row px-4">
                    <div class="col-12 col-md-6 offset-md-6 py-3 px-0 px-md-3">
                        <hr>
                        <div class="py-2">
                            <h5 class="d-inline">Basket Total</h5>
                            <span class="float-end">£{{ total|floatformat:2 }}</span>
                        </div>
                        <div class="py-2">
                            <h5 class="d-inline">Delivery Total</h5>
                            <span class="float-end">£{{ delivery|floatformat:2 }}</span>
                        </div>
                        <div class="py-2">
                            <h5 class="d-inline fw-bold">Grand Total</h5>
                            <strong><span class="float-end">£{{ grand_total|floatformat:2 }}</span></strong>
                        </div>
                        <hr>
                        <!-- Keep Shopping & Checkout Buttons -->
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'view_basket' %}" class="btn btn-green py-2 my-3 w-100"><h5 class="mb-0">
                                        <i class="fas fa-lock pe-1"></i>
                                        Go To Checkout</h5>
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="{% url 'products' %}" class="btn btn-orange py-2 my-3 w-100"><h5 class="mb-0">
                                        <i class="fas fa-tag pe-1"></i>
                                        Continue Shopping</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% else %}
            <div class="row px-4">
                <div class="col-12 p-3">
                    <p>Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-green py-2 mt-3"><h5 class="mb-0">Continue Shopping</h5></a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Scroll to top of page arrow -->
    <button id="scroll-to-top" class="border-0 p-3" >
        <i class="fas fa-arrow-circle-up fs-1"></i>
    </button>
{% endblock %}

{% block postload_js %}
    {{ block.super}}
    <script type="text/javascript">
        // Toggle the visibility of the scroll-to-top button if scrolled down 25% screen height from top.
        $(window).scroll(function() {
            var screenHeight = $(window).height();
            if ($(window).scrollTop() >= (screenHeight/4)) {
                $('#scroll-to-top').show('fade', 500);
            } else {
                $('#scroll-to-top').hide('fade', 500);
            }
        });
        // Add scroll to top button.  Button only appears when user scrolls down page.
        $('#scroll-to-top').click(function() {
            window.scrollTo(0,0);
        });
    </script>
{% endblock %}