{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
    <div class="container-fluid px-5 py-3">
        <div class="row">
            <div class="col-12 px-3">
                <h2>Basket</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-3">
                <small>
                    <a href="{% url 'products' %}">
                        <i class="fas fa-arrow-left"></i>
                        <strong class="text-decoration-underline">Continue Shopping</strong>
                    </a>
                </small>
            </div>
        </div>
        {% if basket_items %}
            {% for item in basket_items %}
                <!-- Product -->
                <div class="row px-4">
                    <hr class="d-none d-sm-block hr-black">
                    <!-- Product Image -->
                    <div class="col-6  py-3 px-0 px-md-3">
                        <a href="{% url 'product_detail' item.product.id %}">
                            <div class="card border-0 rounded-0">
                                {% if item.image %}
                                    <img class="product-image-small" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                    <img class="product-image-small" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <!-- Product Details -->
                    <div class="col-sm-6 py-3 px-0 px-md-3">
                        <div class="py-0">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="{% url 'product_detail' item.product.id %}">
                                    <h5 class="mb-1 d-inline">{{ item.product.name }}</h5>
                                </a>
                                <span>Price: £{{ item.product.price }}</span>
                            </div>
                            <hr>
                            {% for detail in item.details %}
                                <!-- Size -->
                                {% if detail.size %}
                                    <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                        Size:
                                        <span>{{ detail.size|upper }}</span>
                                    </div>    
                                {% endif %}
                                <!-- Side -->
                                {% if detail.side %}
                                    <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                        Side:
                                        <span>{{ detail.side|capfirst }}</span>
                                    </div>
                                {% endif %}
                                <!-- Gender -->
                                {% if detail.gender %}
                                    <div class="d-flex align-items-center justify-content-between my-1 fs-small">
                                            Gender:
                                            <span>{{ detail.gender|capfirst }}</span>
                                    </div>
                                {% endif %}
                                <!-- Price & Quantity -->
                                <div class="my-1 fs-small d-flex flex-row justify-content-between">
                                    Quantity:
                                    <div>
                                        <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="input-group black-border">
                                                <div class="input-group-prepend black-border">
                                                    <button class="dec-qty border-0 qty-btn purple-hover" data-item_id="{{ item.item_id }}" id="dec-qty_{{ item.item_id }}">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input class="qty_input border-top-0 border-bottom-0 text-center" type="number" name="qty" value="{{ detail.qty }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append black-border">
                                                    <button class="inc-qty border-0 qty-btn purple-hover" data-item_id="{{ item.item_id }}" id="inc-qty_{{ item.item_id }}">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                {% if detail.size %}
                                                    <input type="hidden" name="product_size" value="{{ detail.size }}">
                                                {% endif %}
                                                {% if detail.side %}
                                                    <input type="hidden" name="product_side" value="{{ detail.side }}">
                                                {% endif %}
                                                {% if detail.gender %}
                                                    <input type="hidden" name="product_gender" value="{{ detail.gender }}">
                                                {% endif %}
                                            </div>
                                        </form>
                                        <div class="d-flex align-items-center justify-content-between py-1">
                                            <a class="update-link fs-small text-decoration-underline">Update</a>
                                            <a class="remove-item fs-small text-decoration-underline" id="remove_{{ item.item_id }}" data-product_size="{{ detail.size }}" data-product_side="{{ detail.side }}" data-product_gender="{{ detail.gender }}">Remove</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-1 fs-small">
                                    <strong>Subtotal:
                                        <span class="float-end">£{{ item.product.price | calc_subtotal:detail.qty }}</span>
                                    </strong>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- Grand Total -->
            <div class="row px-4">
                <hr class="d-none d-md-block hr-black mb-0">
                <div class="col-12 col-md-6 offset-md-6 py-3 px-0 px-md-3">
                    <hr class="hr-black hr-thick">
                    <div class="py-2">
                        <h5 class="d-inline">Basket Total</h5>
                        <span class="float-end">£{{ total|floatformat:2 }}</span>
                    </div>
                    <div class="py-2">
                        <h5 class="d-inline">Delivery Total</h5>
                        <span class="float-end">£{{ delivery|floatformat:2 }}</span>
                    </div>
                    <div class="py-2">
                        <h5 class="d-inline fw-bold">Grand Total</h5>
                        <strong><span class="float-end">£{{ grand_total|floatformat:2 }}</span></strong>
                    </div>
                    <hr class="hr-black hr-thick">
                    <!-- Keep Shopping & Checkout Buttons -->
                    <div class="container-fluid px-0">
                        <div class="row">
                            <div class="col-12">
                                <a href="{% url 'view_basket' %}" class="btn btn-green py-2 my-3 w-100"><h5 class="mb-0">
                                    <i class="fas fa-lock pe-1"></i>
                                    Go To Checkout</h5>
                                </a>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-orange py-2 my-3 w-100"><h5 class="mb-0">
                                    <i class="fas fa-tag pe-1"></i>
                                    Continue Shopping</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row px-4">
                <div class="col-12 p-3">
                    <p>Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-green py-2 mt-3"><h5 class="mb-0">Continue Shopping</h5></a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Scroll to top of page arrow -->
    <button id="scroll-to-top" class="border-0 p-3" >
        <i class="fas fa-arrow-circle-up fs-1"></i>
    </button>
{% endblock %}

{% block postload_js %}
    {{ block.super}}
    {% include 'products/includes/qty_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click.
        $('.update-link').click(function(e) {
            var form = $(this).parent().prev('.update-form');
            form.submit();
            console.log(form);
        });

        // Remove item and reload on click.
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var side = $(this).data('product_side');
            var gender = $(this).data('product_gender');
            var url = `/basket/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size, 'product_side': side, 'product_gender': gender};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        });

        // Toggle the visibility of the scroll-to-top button if scrolled down 25% screen height from top.
        $(window).scroll(function() {
            var screenHeight = $(window).height();
            if ($(window).scrollTop() >= (screenHeight/4)) {
                $('#scroll-to-top').show('fade', 500);
            } else {
                $('#scroll-to-top').hide('fade', 500);
            }
        });
        // Add scroll to top button.  Button only appears when user scrolls down page.
        $('#scroll-to-top').click(function() {
            window.scrollTo(0,0);
        });
    </script>

{% endblock %}