body {
    color: #011627;
}

header {
    background-color: #5C80BC;
}

a {
    text-decoration: none;
    color: #011627;
}

.blue-hover:hover,a:hover {
    color: #fff;
}

.nav-toggle-button {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}