/*Import fonts from Google Fonts: Open Sans font for body, Crimson Text for headers */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans&display=swap');

/*----------------------------------------------------------------------------------------------------------General rules*/

body {
    color: #04080F;
    font-family: 'Open Sans', sans-serif;
    margin-top: 93px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Crimson Text', serif;
}

.fs-small {
    font-size: .875em;
}

input[type=submit] {
    font-family: 'Crimson Text', serif;
    font-size: 1.25rem;
}

/*------------------------------------------------Buttons*/

.btn, .btn:focus {
    box-shadow: none;
    border-radius: 0;
    border: none;
    color: #fff;
}

.btn-green {
    background-color: #09814a;
}

.btn-orange {
    background-color: #FFBF00;
}

.btn-orange:hover, .btn-green:hover {
    background-color: #04080F;
    font-weight: bold;
    color: #B388EB;
}

a {
    text-decoration: none;
    color: #04080F;
}

header a, footer a {
    text-decoration: none;
    color: #fff;
}

.purple-hover:hover,
a:hover,
#search-button[aria-expanded="true"],
#search-button:hover,
#scroll-to-top:hover,
.dropdown-item:hover {
    color: #B388EB;
    font-weight: bold;
}

.black-bg-hover:hover {
    background-color: #04080F;
}

.black-border {
    border-radius: 0;
    border: 1px solid #04080f;
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.4;
    background-color: white;
    color: #B388EB;
    border: 1px solid #B388EB;
    font-weight: bold;
}



#two-wide, #three-wide,
.update-link, .remove-item {
    cursor: pointer;
}

/*------------------------------------------------Horizontal Rules*/

.hr-black {
    opacity: 100;
}

.hr-thick,
.hr-thick:not([size]) {
    height: 2px;
}

/*----------------------------------------------------------------------------------------------------------Header & Navbar*/

header {
    background-color: #04080F;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}

.dropdown-menu {
    border: none;
    min-width: auto;
}

#sport-options-dropdown {
    transform: translate(0px, -3px);
}

.dropdown-item {
    color: #fff;
}

/* Bootstrap styling */
.nav-toggle-button {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    color: #fff;
}

#nav-search .form-control {
    background-clip:border-box;
}

#nav-search input::placeholder {
    color: #aab7c4;
}

#product-count {
    font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------------------------------------------------------------------------Footer*/

footer {
    background-color: #04080f;
    color: #fff;
}

footer hr {
    width: 150px;
    opacity: inherit;
}

footer p, footer li {
    font-size: 13px;
}

/*----------------------------------------------------------------------------------------------------------Home Page*/

/*------------------------------------------------Carousel*/

.carousel-item img {
    width: auto;
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    top: 10%;
    font-weight: bold;
}

/*----------------------------------------------------------------------------------------------------------Products*/

#two-wide, #three-wide {
    cursor: pointer;
}

/* Shadow effect source: https://www.w3schools.com/css/css3_shadows_box.asp */
.product-container:hover {
    box-shadow: 0 4px 8px 0 rgba(179, 136, 235, 0.2), 0 6px 20px 0 rgba(179, 136, 235, 0.19);
}

.product-image {
    object-fit: scale-down;
    height: 350px;
}

.product-image-small {
    object-fit: scale-down;
    height: auto;
    max-height: 200px;
}

/* Make add to basket submit button same height as the anchor buttons. */
#add-to-basket {
    line-height: 1.2;
}

/*------------------------------------------------Product Details - Inputs*/
.product-input {
    min-width: 135px;
}

.qty-btn {
    background-color: #04080F;
    color: #fff;
    width: 36px;
}

.qty-btn:disabled {
    color: #04080F;
}

/* Remove the spinner from the quantity input. */
/* Source: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
.qty_input::-webkit-outer-spin-button,
.qty_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qty_input {
    -moz-appearance: textfield;
    width: 59px;
  }

/* Initial CSS from: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    cursor: pointer;
    background-color: transparent;
    color: #09814A;
}

/*----------------------------------------------------------------------------------------------------------Toasts/Messages*/

.toast {
    position: fixed;
    top: 93px;
    z-index: 9999999;
    border-radius: 0;
    width: 100%;
    border: 1px solid #04080F;
    box-shadow: 0 0.5rem 1rem rgb(4 8 15 / 15%);
}

.toast-success {
    background-color: #09814A;
    color: #fff;
}

.toast-error {
    background-color: #FE7F2D;
    color: #fff;
}

.toast-info {
    background-color: #B388EB;
    color: #04080F;
}

.toast-warning {
    background-color: #FFBF00;
    color: #04080F;
}

.toast-up {
    top: 53px;
}

.toast-basket {
    max-height: 80px;
}

.toast-image {
    object-fit: scale-down;
    height: auto;
    max-height: 80px;
}

/*----------------------------------------------------------------------------------------------------------Checkout*/

#basket-preview {
    max-height: 300px;
    overflow: auto;
}

#checkout .nav-tabs {
    border-bottom: 1px solid #04080F;
}

/* Overwrite Bootstrap to prevent rounded corners. */
#checkout .nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 66px;
}

/* Overwrite Bootstrap active nav-link style. */
#checkout .nav-tabs .nav-item.show .nav-link,
#checkout .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #09814A;
    border-color: #04080F #04080F #fff;
    font-weight: bold;
}

/* Overwrite Bootstrap check input. */
#payment-form .form-check .form-check-input {
    border-radius: 0;
    border: 1px solid #04080F;
    float: none;
}

#payment-form .form-check-input:checked {
    background-color: #09814A;
    border-color: #09814A;
}

#div_id_country select {
    padding: 5px 12px;
}

#div_id_country select, #div_id_country select option {
    color: #04080F;
}

#div_id_country select:invalid,
#div_id_country select option[value=""] {
    color: #aab7c4;
}

/*------------------------------------------------Stripe*/

.stripe-style-input, .StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #04080F;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 1px 3ox 0 #04080F;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.stripe-style-input:focus,
.stripe-style-input:active,
.StripeElement--focus {
    border: 2px solid #04080F;
    box-shadow: 0 1px 3px 0 #04080F;
}

.StripeElement--webkit-autofill {
    background-color: #fff;
}

/*------------------------------------------------Loading Overlay*/

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, 0.85);
    z-index: 9999;
}

#loading-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
}

/*----------------------------------------------------------------------------------------------------------AllAuth Pages*/

.allauth-form-inner-content p {
    padding-top: 16px;
}

/* Give all AllAuth inputs the same style as the stripe-style-input class */
.allauth-form-inner-content input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #04080F;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 1px 3ox 0 #04080F;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.allauth-form-inner-content input:focus,
.allauth-form-inner-content input:active {
    border: 2px solid #04080F;
    box-shadow: 0 1px 3px 0 #04080F;
}


.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input[type=radio] {
    height: auto;
}

/* Style checkbox inputs to mirror the one on the Checkout form */
.allauth-form-inner-content .form-check .form-check-input {
    border-radius: 0;
    border: 1px solid #04080F;
    float: none;
    height: 16px;
    width: 16px;
    padding: 0;
}

.allauth-form-inner-content .form-check-input:checked {
    background-color: #09814A;
    border-color: #09814A;
}

.allauth-form-inner-content .form-check {
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------------Media Queries*/

/* Apply to screen sizes up to 768px width */
@media only screen and (max-width: 768px) {
    /* Adjust the top margin to account for smaller header & navbar. */
    body {
      margin-top: 53px;
    }

    .navbar {
        background-color: #04080F;
    }

    /* Reduce distance to top of page on small and medium screens so toast sit under navbar. */
    .toast {
        top:53px;
    }

}

/* Apply to screen sizes up to 576px width */
@media only screen and (max-width: 576px) {
    
    /* Reduce height of navlinks on Checkout page on small screen to default. */
    .nav-tabs .nav-link {
        height: auto;
    }
}