@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans&display=swap');

body {
    color: #04080F;
    font-family: 'Open Sans', sans-serif;
    margin-top: 101px;
    /* Temp style for testing - to be deleted */
    height: 1500vh;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Crimson Text', serif;
}

header {
    background-color: #04080F;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.btn, .btn:focus {
    box-shadow: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.purple-hover:hover,a:hover, #search-button[aria-expanded="true"], #search-button:hover {
    color: #B388EB;
    font-weight: bold;
}

#search-button {
    color: #fff;
    border: none;
}

.dropdown-menu {
    transform: translate(-50px, 56px);
    border: 1px solid #04080F;
    color: #04080F;
    text-align: center;
    min-width: auto;
}

/* Bootstrap styling */
.nav-toggle-button {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    color: #fff;
}

/* Apply to screen sizes up to 768px width */
@media only screen and (max-width: 768px) {
    /* Adjust the top margin to account for smaller header & navbar. */
    body {
      margin-top: 61px;
    }
  }