<div class="container-fluid p-4">
    <div class="row">
        <!-- Quick Links -->
        <div class="col-12 col-md-3 pb-3 pb-md-0 text-center">
            <hr class="mx-auto">
            <h5>Quick Links</h5>
            <hr class="mx-auto">
            <div class="px-4">
                <ul class="list-unstyled">
                    <li class="py-2">
                        <a href="">
                            Equipment
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="">
                            Clothing
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="">
                            Footwear
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="">
                            Basket & Checkout
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- About section -->
        <div class="col-12 col-md-6 pb-3 pb-md-0 text-center">
            <hr class="mx-auto">
            <h5>About Us</h5>
            <hr class="mx-auto">
            <div class="px-5 px-md-3">
                <p class="mb-2">
                    Established in the 2010, Stumps & Studs has long been established as one of the leading UK specialist retailer of sports equipment, fashionable branded footwear and clothing.
                </p>
                <p class="mb-2">
                    What started as a single shop in Ipswich, Suffolk has now expanded across the UK, and by 2019, Stumps & Studs had opened a total of 21 stores nationwide. Stumps & Studs is regarded as one of the most innovative merchandiser of sportswear with the best and most exclusive stylish range.
                </p>
                <p class="mb-2">
                    Our online store attracts customers from across Europe and beyond and we look forward to opening first outlet outside of the UK very soon . . .
                </p>
            </div>
        </div>
        
        <!-- Social Media Links -->
        <div class="col-12 col-md-3 pb-3 pb-md-0 text-center">
            <hr class="mx-auto">
            <h5>Follow Us</h5>
            <hr class="mx-auto">
            <div class="px-4">
                <a href="https://www.facebook.com/" target="_blank" class="d-md-block px-3 py-md-2">
                    <i class="fab fa-facebook-square fs-2"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="d-md-block px-3 py-md-2">
                    <i class="fab fa-twitter-square fs-2"></i>
                </a>
                <a href="https://www.pinterest.co.uk/" target="_blank" class="d-md-block px-3 py-md-2">
                    <i class="fab fa-pinterest-square fs-2"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="d-md-block px-3 py-md-2">
                    <i class="fab fa-instagram-square fs-2"></i>
                </a>
            </div>
            <hr class="d-md-none mx-auto">
        </div>
    </div>
    <!-- Copyright disclaimer -->
    <div class="row">
        <div class="col-12 text-center">
            <hr class=" d-none d-md-block mx-auto">
            <i class="far fa-copyright"></i>
            <small>Copyright 2021 | For educational purposes</small>
        </div>
    </div>
</div>