<nav class="navbar navbar-expand-md py-0 mx-0">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-toggle-content">
            <ul class="navbar-nav mx-auto py-2 py-md-0">
                <li class="nav-item d-md-none">
                    <a class="nav-link" href="#"><h3 class="mb-0">Stumps & Studs</h3></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link black-bg-hover" href="{% url 'products' %}">All Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link black-bg-hover" href="#">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link black-bg-hover" href="#">Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link black-bg-hover" href="#">Clothing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link black-bg-hover" href="#">Footwear</a>
                </li>
            </ul>
        </div>
    </div>
</nav>