  {% extends "account/base.html" %}

  {% load i18n %}
  {% load account socialaccount %}

  {% block head_title %}{% trans "| Login" %}{% endblock %}

  {% block inner_content %}

    <div class="row px-4">
      <div class="col-md-6 col-lg-4 px-3">
        <h2>{% trans "Login" %}</h2>
      </div>
    </div>
    <div class="row px-4">
      <div class="col-md-6 col-lg-4 p-3 fs-small">
          <a href="{% url 'home' %}">
              <i class="fas fa-arrow-left"></i>
              <strong class="text-decoration-underline">Home</strong>
          </a>
      </div>
    </div>

    <div class="row px-4">
      <div class="col-md-6 col-lg-4">
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a class="text-decoration-underline" href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a class="text-decoration-underline" href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>
      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-flex flex-wrap align-items-center py-3">
          <button class="btn btn-green my-2 w-100" type="submit">
            <i class="fas fa-user-plus"></i>
            {% trans "Login" %}
          </button>
          <a class="btn btn-orange my-2 w-100" href="{% url 'account_reset_password' %}">
            {% trans "Forgotten Password" %}
            <i class="fas fa-question"></i>
          </a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
