{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "| Set Password" %}{% endblock %}

{% block inner_content %}
    <div class="row px-4">
        <div class="col-md-6 col-lg-4 px-3">
            <h2>{% trans "Set Password" %}</h2>
        </div>
    </div>
    <div class="row px-4">
        <div class="col-md-6 col-lg-4 p-3 fs-small">
            <a href="{% url 'home' %}">
                <i class="fas fa-arrow-left"></i>
                <strong class="text-decoration-underline">Home</strong>
            </a>
        </div>
    </div>

    <div class="row px-4">
        <div class="col-md-6 col-lg-4">

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex flex-wrap justify-content-evenly align-items-center py-3">
                    <button class="btn btn-green my-2 w-100" type="submit" >{% trans 'Set Password' %}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
