{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "- Set Password" %}{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-12 px-3">
            <h2>{% trans "Set Password" %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3 fs-small">
            <a href="{% url 'products' %}">
                <i class="fas fa-arrow-left"></i>
                <strong class="text-decoration-underline">Home</strong>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-green" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>

{% endblock %}
