{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "| Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-12 px-3">
            <h2>{% trans "Change Password" %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3 fs-small">
            <a href="{% url 'home' %}">
                <i class="fas fa-arrow-left"></i>
                <strong class="text-decoration-underline">Home</strong>
            </a>
        </div>
  </div>

  <div class="row">
    <div class="col-12">

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy}}
            <div class="d-flex flex-wrap justify-content-evenly align-items-center py-3">
                <button class="btn btn-green my-2 mx-3" type="submit" name="action">{% trans "Change Password" %}</button>
                <a class="btn btn-orange my-2 mx-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
