{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "| Registration Closed" %}{% endblock %}

{% block inner_content %}
    <div class="row px-4">
        <div class="col-md-6 col-lg-4 px-3">
            <h2>{% trans "Registration Closed" %}</h2>
        </div>
    </div>
    <div class="row px-4">
        <div class="col-md-6 col-lg-4 p-3 fs-small">
            <a href="{% url 'home' %}">
                <i class="fas fa-arrow-left"></i>
                <strong class="text-decoration-underline">Home</strong>
            </a>
        </div>
    </div>

    <div class="row px-4">
        <div class="col-md-6 col-lg-4">
            <p>{% trans "We are sorry, but registration is currently closed." %}</p>
        </div>
    </div>

{% endblock %}
