{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "| Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <div class="row px-4">
        <div class="col-md-6 col-lg-4 px-3">
            <h2>{% trans "Verify Your E-mail Address" %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3 fs-small">
            <a href="{% url 'home' %}">
                <i class="fas fa-arrow-left"></i>
                <strong class="text-decoration-underline">Home</strong>
            </a>
        </div>
    </div>

    <div class="row px-4">
        <div class="col-md-6 col-lg-4">

            <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>

{% endblock %}
