{% extends "base.html" %}
{% load static %}
{% block head_title %}| Contact Us{% endblock %}

{% block content %}
    <div class="container-fluid px-3 px-sm-5 py-5">
        <div class="row">
            <div class="col-12 px-3">
                <h2 class="mb-4">Contact Us</h2>
            </div>
        </div>
        <div class="row">
            <!-- Contact Us Form -->
            <div class="col-12 col-md-6 px-md-4">
                <form action="{% url 'contact' %}" method="POST" id="contact-form" class="black-border p-2 p-sm-4 mb-5 mb-md-4">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex flex-wrap justify-content-evenly align-items-center py-3">
                        <button class="btn btn-green my-2 mx-3" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
            <!-- Address and Contact Details -->
            <div class="col-12 col-md-6 mt-5 mt-md-0 px-md-4">
                <div class="black-border p-2 p-sm-4 mb-5 mb-md-4">
                    <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-1 d-inline">Address:</h5>
                            <i class="fas fa-address-card"></i>
                        </div>
                        <div class="my-1 fs-small">
                            <p class="mb-0">123 London Road</p>
                            <p class="mb-0">London, SW99 9ZZ</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-1 d-inline">Email:</h5>
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="my-1 fs-small">
                            <a class="text-decoration-underline" href="mailto:contactus@stumpsandstuds.co.uk">contactus@stumpsandstuds.co.uk</a>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-1 d-inline">Phone:</h5>
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="my-1 fs-small">
                            <a href="tel:+442081234567">0208 123 4567</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
{% endblock %}