{% extends "base.html" %}
{% load static %}
{% block head_title %}| Contact Us{% endblock %}

{% block content %}
    <div class="container-fluid px-3 px-sm-5 py-5">
        <div class="row">
            <div class="col-12 px-3">
                <h2 class="mb-4">Contact Us</h2>
            </div>
        </div>
        <div class="row">
            <!-- Default Delivery Information -->
            <div class="col-12 col-md-6 px-md-4">
                <h5 class="px-3">Default Delivery Information</h5>
                <div class="px-2">
                    <hr class="hr-black mt-0">
                </div>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="black-border p-2 p-sm-4 mb-5 mb-md-4">
                    <!-- {% csrf_token %}
                    {{ form|crispy }} -->
                    <div class="d-flex flex-wrap justify-content-evenly align-items-center py-3">
                        <button class="btn btn-green my-2 mx-3" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
{% endblock %}