{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-5 py-3">
        <div class="row">
            <div class="col-12 p-3 fs-small">
                <!-- Branch Menu -->
                <a href="{% url 'home' %}" class="text-decoration-underline">Home</a> > 
                <a href="{% url 'products' %}?category={{ product.category }}" class="text-decoration-underline">{{ product.category|capfirst }}</a> > 
                <a href="{% url 'products' %}?sport={{ product.sport }}" class="text-decoration-underline">{{ product.sport|capfirst }}</a> > 
                {{ product.name|capfirst }}
            </div>
        </div>
        <!-- Product -->
        <div class="row">
            <!-- Product Image -->
            <div class="col-md-6 py-3 px-0 px-md-3">
                <h4 class="d-md-none">{{ product.name }}</h4>
                <div class="card border-0 rounded-0">
                    {% if product.image %}
                        <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        <!-- {% static 'css/base.css' %} -->
                    {% endif %}
                </div>
            </div>
            <!-- Product Details -->
            <div class="col-md-6 py-3 px-0 px-md-3">
                <div class="p-3">
                    <h4 class="d-none d-md-block mb-3">{{ product.name }}</h4>
                    <!-- Price & RRP -->
                    <div class="d-flex flex-row align-items-center justify-content-between mb-2">
                        <span><strong>Price:</strong> £{{ product.price }}</span>
                        {% if product.price < product.rrp %}
                            <span class="text-end"><strong>RRP: </strong><s>£{{ product.rrp }}</s></span>
                        {% endif %}
                    </div>
                    <!-- Description -->
                    <div class="mb-2">
                        <div><strong>Description:</strong></div>
                        <div>{{ product.desc }}</div>
                    </div>
                    <form method="POST" action="{% url 'add_to_basket' product.id %}">
                        {% csrf_token %}
                        <!-- Size -->
                        {% with product.has_sizes as sizes %}
                            {% if  sizes %}
                                <div class="d-flex flex-row align-items-center justify-content-between mb-2">
                                    <strong><label for="product_size">Size:</label></strong>
                                    <select class="product-input black-border" name="product_size" id="product_size" aria-label="Select product size">
                                        <option value="jr">Junior</option>
                                        <option value="xs">Extra Small</option>
                                        <option value="s">Small</option>
                                        <option value="m" selected>Medium</option>
                                        <option value="l">Large</option>
                                        <option value="xl">Extra Large</option>
                                    </select>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <!-- Side -->
                        {% with product.has_side as side %}
                            {% if  side %}
                                <div class="d-flex flex-row align-items-center justify-content-between mb-2">
                                    <strong><label for="product_side">Side:</label></strong>
                                    <select class="product-input black-border" name="product_side" id="id_product_side" aria-label="Select product side">
                                        <option value="right" selected>Right-Handed</option>
                                        <option value="left">Left-Handed</option>
                                    </select>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <!-- Gender -->
                        {% with product.has_gender as gender %}
                            {% if  gender %}
                                <div class="d-flex flex-row align-items-center justify-content-between mb-2">
                                    <strong><label for="product_gender">Gender:</label></strong>
                                    <select class="product-input black-border" name="product_gender" id="id_product_gender" aria-label="Select product gender">
                                        <option value="male" selected>Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <!-- Qty & Add to Basket -->
                            <div class="d-flex flex-row align-items-center justify-content-between mb-2">
                                <strong><label for="qty">Quantity:</label></strong>
                                <div>
                                    <div class="input-group black-border">
                                        <div class="input-group-prepend black-border">
                                            <button class="dec-qty border-0 qty-btn purple-hover" data-item_id="{{ product.id }}" id="dec-qty_{{ product.id }}">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <input class="qty_input border-top-0 border-bottom-0 text-center" type="number" name="qty" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="input-group-append black-border">
                                            <button class="inc-qty border-0 qty-btn purple-hover" data-item_id="{{ product.id }}" id="inc-qty_{{ product.id }}">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" id="add-to-basket" class="btn btn-green py-2 w-100 border-0 mt-3 ms-0" value="Add to Basket">
                        <!-- Hidden Field -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
                <!-- Keep Shopping & Checkout Buttons -->
                <div class="container-fluid px-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{% url 'view_basket' %}" class="btn btn-green my-3 py-2 w-100"><h5 class="mb-0">
                                <i class="fas fa-lock pe-1"></i>
                                Basket & Checkout</h5>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{% url 'products' %}" class="btn btn-orange my-3 py-2 w-100"><h5 class="mb-0">
                                <i class="fas fa-tag pe-1"></i>
                                Continue Shopping</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    {% include 'products/includes/qty_input_script.html' %}
{% endblock %}