{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-5 py-3">
        <div class="row">
            <div class="col-12 p-3">
                <!-- Branch Menu -->
                <small>
                    <a href="{% url 'home' %}">Home</a> > 
                    <a href="{% url 'products' %}?category={{ product.category }}">{{ product.category|capfirst }}</a> > 
                    <a href="{% url 'products' %}?sport={{ product.sport }}">{{ product.sport|capfirst }}</a> > 
                    {{ product.name|capfirst }}
                </small>
            </div>
        </div>
        <!-- Product -->
        <div class="row">
            <!-- Product Image -->
            <div class="col-12 col-md-6 py-3 px-0 px-md-3">
                <h4 class="d-md-none">{{ product.name }}</h4>
                <div class="card border-0 rounded-0">
                    {% if product.image %}
                        <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>
            <!-- Product Details -->
            <div class="col-12 col-md-6 py-3 px-0 px-md-3">
                <div class="card-body">
                    <h4 class="d-none d-md-block mb-3">{{ product.name }}</h4>
                    <!-- Price & RRP -->
                    <div class="d-flex flex-row align-items-center justify-content-between mb-2">
                        <span><strong>Price:</strong> £{{ product.price }}</span>
                        {% if product.price < product.rrp %}
                            <span class=""><s>RRP: £{{ product.rrp }}</s></span>
                        {% endif %}
                    </div>
                    <!-- Description -->
                    <div class="mb-2">
                        <div><strong>Description:</strong></div>
                        <div>{{ product.desc }}</div>
                    </div>
                    <form method="POST" action="{% url 'add_to_basket' product.id %}">
                        {% csrf_token %}
                        <!-- Size -->
                        {% if product.has_sizes %}
                            <div class="input-group">
                                <div class="input-group d-flex flex-row align-items-center justify-content-between mb-2">
                                    <strong><label for="size">Size:</label></strong>
                                    
                                </div>
                            </div>
                        {% endif %}
                        <!-- Side -->
                        {% if product.has_side %}
                            <div class="input-group">
                                <div class="input-group d-flex flex-row align-items-center justify-content-between mb-2">
                                    <strong><label for="side">Side:</label></strong>
                                    
                                </div>
                            </div>
                        {% endif %}
                        <!-- Gender -->
                        {% if product.has_gender %}
                            <div class="input-group">
                                <div class="input-group d-flex flex-row align-items-center justify-content-between mb-2">
                                    <strong><label for="gender">Gender:</label></strong>
                                    
                                </div>
                            </div>
                        {% endif %}
                        <!-- Qty & Add to Basket -->
                        <div class="input-group">
                            <div class="input-group d-flex flex-row align-items-center justify-content-between mb-2">
                                <input type="number" id="id_qty_{{ product.id }}" name="qty" value="1" min="1" max="99" class="w-25" data-item_id="{{ product.id }}">
                                <input type="submit" class="btn btn-green py-1" value="Add to Basket">
                            </div>
                        </div>
                        <!-- Hidden Field -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
                <!-- Keep Shopping & Checkout Buttons -->
                <div class="d-flex justify-content-center justify-content-sm-between flex-wrap px-3">
                    <a href="{% url 'products' %}" class="btn btn-orange my-3 mx-auto mx-sm-0"><h5 class="mb-0">Keep Shopping</h5></a>
                    <a href="{% url 'view_basket' %}" class="btn btn-green my-3 mx-auto mx-sm-0"><h5 class="mb-0">Go To Checkout</h5></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}

{% endblock %}