{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-4 py-2">
        <!-- Filter section -->
        <div class="row">
            <div class="col-12">
                <div class="d-none d-lg-block">
                    <i class="fas fa-th-large fs-2 purple-hover"></i>
                    <i class="fas fa-th fs-2 ms-2 purple-hover"></i>
                </div>
            </div>
        </div>
        <!-- Products -->
        <div class="row">
            {% for product in products %}
                <div id="product-container" class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="row">
                        <a href="">
                            <div class="col-12 text-center">
                                {% if product.image %}
                                    <img class="product-image-container" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="product-image-container" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                            <div class="col-12 text-center pt-3">
                                <h4 class="mb-1">{{ product.name }}</h4>
                                £{{ product.price }}
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postload_js %}

{% endblock %}