{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-5 py-3">
        <!-- Title & Filter Options -->
        <div class="row">
            <div class="col-12 px-3 d-flex flex-wrap justify-content-between align-items-center">
                <div class="d-none d-lg-block">
                    <i id="two-wide" class="fas fa-th-large fs-4 purple-hover"></i>
                    <i id="three-wide" class="fas fa-th fs-4 purple-hover d-none"></i>
                </div>
                <div class="text-center">
                    <h2 class="mb-0">Products</h2>
                </div>
                <div>
                    <select name="sort-options" id="sort-options" class="border-0 my-3">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort By: </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price: Low - High</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price: High - Low</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name: A - Z</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name: Z - A</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category: A - Z</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category: Z - A</option>
                        <option value="sport_asc" {% if current_sorting == 'sport_asc' %}selected{% endif %}>Sport: A - Z</option>
                        <option value="sport_desc" {% if current_sorting == 'sport_desc' %}selected{% endif %}>Sport: Z - A</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- No. of Results -->
        <div class="row">
            <div class="col-12 pt-0 pt-sm-3 px-3 pb-3">
                <!-- Link to All Products -->
                {% if search_term or current_categories or current_sports or current_sorting != 'None_None' %}
                    <small><strong><a href="{% url 'products' %}"><i class="fas fa-arrow-left"></i> All Products</a></strong> | </small>
                {% endif %}
                <!-- Product Count -->
                {% if products|length == 0 %}
                    <small>No products found.</small>
                {% else %}
                    <small>
                        {{ products|length }} 
                        {% if products|length == 1 %}
                            Product
                        {% else %}
                            Products
                        {% endif %}
                        {% if search_term %}
                            found for {{ search_term|capfirst }}
                        {% endif %}
                    </small>
                {% endif %}
            </div>
        </div>
        <!-- Products -->
        <div class="row">
            {% for product in products %}
                <div class="product-container col-12 col-md-6 col-lg-4 p-3">
                    <a href="{% url 'product_detail' product.id %}">
                        <div class="card border-0 rounded-0">
                            {% if product.image %}
                                <img class="card-img-top product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="card-img-top product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            {% endif %}
                            <div class="card-body text-center">
                                <h4 class="mb-1">{{ product.name }}</h4>
                                £{{ product.price }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div> 
    </div>
    <!-- Scroll to top of page arrow -->
    <button id="scroll-to-top" class="border-0 p-3" >
        <i class="fas fa-arrow-circle-up fs-1"></i>
    </button>
{% endblock %}

{% block postload_js %}
    {{ block.super}}
    <script type="text/javascript">
        // Adjust Bootstrap grid on large screens, alternate between 2 or 3 columns
        $( '#two-wide' ).click(function() {
            $( '.product-container' ).removeClass( 'col-lg-4', 1000 )
            $( '#three-wide' ).removeClass( 'd-none' )
            $( '#two-wide' ).addClass( 'd-none' )
        })
        $( '#three-wide' ).click(function() {
            $( '.product-container' ).addClass( 'col-lg-4', 1000 )
            $( '#two-wide' ).removeClass( 'd-none' )
            $( '#three-wide' ).addClass( 'd-none' )
        })
        
        // Update the URL when the sort-options selector changes to enable sort & direction options.
        $('#sort-options').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl)
            }
        });
        // Toggle the visibility of the scroll-to-top button if scrolled down 25% screen height from top.
        $(window).scroll(function() {
            var screenHeight = $(window).height();
            if ($(window).scrollTop() >= (screenHeight/4)) {
                $('#scroll-to-top').show('fade', 500);
            } else {
                $('#scroll-to-top').hide('fade', 500);
            }
        });
        // Add scroll to top button.  Button only appears when user scrolls down page.
        $('#scroll-to-top').click(function() {
            window.scrollTo(0,0);
        });
    </script>
{% endblock %}