{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-5 py-3">
        <div class="row">
            <div class="col-12 p-3">
                <!-- Branch Menu -->
                <small>
                    <a href="{% url 'home' %}">HOME</a> > 
                    <a href="{% url 'products' %}?category={{ product.category }}">{{ product.category|upper }}</a> > 
                    <a href="{% url 'products' %}?sport={{ product.sport }}">{{ product.sport|upper }}</a> > 
                    {{ product.name|upper }}
                </small>
            </div>
        </div>
        <!-- Product -->
        <div class="row">
            <!-- Product Image -->
            <div class="col-12 col-md-6 p-3">
                <h4 class="d-md-none">{{ product.name }}</h4>
                <div class="card border-0 rounded-0">
                    {% if product.image %}
                        <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>
            <!-- Product Details -->
            <div class="col-12 col-md-6 p-3">
                <div class="card-body">
                    <h4 class="d-none d-md-block">{{ product.name }}</h4>
                    <!-- Price & RRP -->
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <span><strong>Price:</strong> £{{ product.price }}</span>
                        {% if product.price < product.rrp %}
                            <span class=""><s>RRP: £{{ product.rrp }}</s></span>
                        {% endif %}
                    </div>
                    <!-- Size -->
                    <!-- Side -->
                    <!-- Gender -->
                    <!-- Qty & Add to Basket -->
                    <!-- Description -->
                    <div>
                        <div><strong>Description:</strong></div>
                        <div>{{ product.desc }}</div>
                    </div>
                    <!-- Keep Shopping & Checkout Buttons -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}

{% endblock %}