<div class="toast">
    <div class="row">
        <!-- Message and Close Button -->
        <div class="col-12 toast-error d-flex align-items-center px-4">
            <div class="flex-fill text-center">
                <span class="pr-2">Error!</span>
                <span>{{ message }}</span>
            </div>
            <button type="button" class="close-toast btn d-inline float-end purple-hover py-0 fs-5" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
        </div>
    </div>
</div>